<form>
  <div>
    <label for="text">Tarefa:</label>
    <input type="text" name="text" class="form-control" placeholder="Adiconar tarefa" id="text">
  </div>

  <div class="mb-4">
    <label for="categoria">Categoria:</label>
    <select name="categoria" id="categoria" class="form-select">
      <option value="casa">casa</option>
      <option value="trabalho">trabalho</option>
      <option value="faculdade">faculdade</option>
      <option value="academia">academia</option>
      <option value="lazer">lazer</option>
    </select>
  </div>

  <input type="submit" value="Salvar Tarefa" class="btn btn-block">
</form>